  /* Opnunartími */
  
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-bottom: var(--spacing);
  }
  
  /* Matseðill */
  
  table {
    border-spacing: 0;
  }
  
  table th,
  table td {
    padding: calc(var(--spacing) * 0.5);
    text-align: left;
  }
  
  table tbody tr:nth-child(2n + 1) {
    color: var(--color-dark);
    background-color: var(--color-gold);
  }
  
  /* Pöntunarform */
  
  fieldset {
    border: var(--border-small) solid var(--color-dark);
  }
  
  fieldset legend {
    font-weight: bold;
  }
  
  fieldset div label {
    display: flex;
    flex-direction: column;
  }
  
  fieldset input,
  fieldset select,
  fieldset textarea {
    padding: calc(var(--spacing) * 0.5);
    width: 100%;
  }
  
  fieldset input[type='checkbox'] {
    width: auto;
  }
  
  fieldset .checkbox label {
    flex-direction: row;
    gap: calc(var(--spacing) * 0.5);
  }
  
  form button {
    padding: calc(var(--spacing) * 0.25);
    border-radius: var(--border-radius);
  }
  